{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'admin/css/app.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Esta es una prueba de que la configuracion de statics y templates, funciona ****</h3>
    <div id="img-div">
        <img id="welcome" src="{% static 'admin/img/bienvenido.png'%}">
         <a href="http://localhost:8000/admin"><h1>ADMIN</h1></a>
    </div>
</body>
</html>